.ds-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.range-inputs {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    margin-bottom: 0.5em;
}

    .range-inputs .ds-field {
        display: flex;
        align-items: center;
        gap: 0.7em;
        height: 41px;
        font-size: 17px;
        color: #474747;
    }

        .range-inputs .ds-field input {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 7px;
            outline: none;
            padding: 10px 15px;
            text-align: center;
            font-size: 17px;
            color: #474747;
        }

@media only screen and (min-width: 992px) and (max-width: 1180px) {
    .ds-separator {
        display: none;
    }

    .range-inputs .ds-field input {
        padding: 10px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.double-slider {
    position: relative;
    height: 5px;
    border-radius: 5px;
    background-color: #ebebeb;
    margin-top: 0.5em;
}

    .double-slider .range {
        position: absolute;
        height: 5px;
        left: 25%;
        right: 25%;
        border-radius: 5px;
        background-color: #e5e8ec;
    }

    .double-slider .range-sliders {
        position: relative;
    }

        .double-slider .range-sliders input {
            position: absolute;
            height: 5px;
            width: 100%;
            background: none;
            outline: none;
            appearance: none;
            pointer-events: none;
        }

input[type='range']::-webkit-slider-thumb {
    width: 12px;
    height: 18px;
    background: #181818;
    border-radius: 3px;
    appearance: none;
    pointer-events: auto;
    cursor: pointer;
}