@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro-header">
    <div class="intro-content">
        <div class="intro-text">
            <h1 class="header-jumbo">
                About Us
            </h1>
            <div class="paragraph-header opacity-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="why-company-section">
            <div class="content-container">
                <div class="paragraph-light">Why Company Outdoors?</div>
                <h2>We’re the best in the business.</h2>
                <p class="about-paragraph">
                    From more than 30 years, we’ve been leading the way across Oklahoma — creating the best possible customer experience since 1989.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="about-section">
            <div class="about-wrap">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84b9ccd071025d67c7e431_verified.svg" alt="Warranty Icon" class="image">
                <h3>Lifetime Warranty</h3>
                <p>All our products — whether we make them or not — are backed by our lifetime warranty.</p>
            </div>
            <div class="about-wrap">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84ba18359d4c7fc8ba04d2_cart.svg" alt="Shopping Cart Icon" class="image">
                <h3>Shopping Experience</h3>
                <p>All our products — whether we make them or not — are backed by our lifetime warranty.</p>
            </div>
            <div class="about-wrap">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84ba26d07102b2bcc7e4fb_transport.svg" alt="Delivery Icon" class="image">
                <h3>On-time Delivery</h3>
                <p>All our products — whether we make them or not — are backed by our lifetime warranty.</p>
            </div>
            <div class="about-wrap">
                <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84ba313e8232516a7da902_chat-alt.svg" alt="Service Icon" class="image">
                <h3>Best in Class Service</h3>
                <p>All our products — whether we make them or not — are backed by our lifetime warranty.</p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="about-card-section">
            <div class="about-card-wrapper">
                <div class="about-card-left"></div>
                <div class="about-card-right">
                    <h2>About Company</h2>
                    <p>
                        John and Jane met on a backpacking adventure in Nepal. John, a former sheep shearer, went on the trip to get some clarity about his next adventures in life. Jane — a Peloton instructor — went on the trip to explore the landscape in Nepal.<br><br>
                        While on the trip, John and Jane realized that they had one common love — the love for hiking and the love for being outdoors.<br><br>
                        Returning back to their home state of Oklahoma, John and Jane hatched a plan to launch a retail store centered around their passions.<br><br>
                        While John handled the sourcing of goods and customer service, Jane focused on the web + e-commerce side of the business, building this website in the best design platform on the web — Webflow!<br><br>
                        In 1989, John and Jane Doe officially launched Acme Outdoors, the premiere store for outdoor enthusiasts around the state.<br><br>
                        To this day, John and Jane return to Nepal yearly to ensure that they never forget their roots and where they came from.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section need-help">
    <div class="container">
        <div class="need-help-section">
            <h1 class="hero-heading anout-hero-heading">Need Help?</h1>
            <p class="need-help-paragraph">
                Need help or assistance?&nbsp;Our team is standing by to make sure you get the help you need. Whether you need to adjust an order or delivery details, we're ready to help!
            </p>
            <a asp-action="Contact" asp-fragment="get-in-touch" class="ui inverted button">Contact Support</a>
        </div>
    </div>
</div>