@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a name="main-contacts"></a>
<div class="section">
    <div class="container">
        <div class="contacts-section">
            <h2>Main contacts</h2>
            <div class="w-layout-grid basic-grid">
                <div class="number-contact-wrap">
                    <div class="paragraph-header">
                        Support
                    </div>
                    <div class="paragraph-contact-text">
                        +61 8372 4662<br>
                    </div>
                    <div class="paragraph-tiny opacity-light">
                        Mon - Fri, 9am - 5pm<br>
                    </div>
                </div>
                <div class="number-contact-wrap">
                    <div class="paragraph-header">
                        Marketing
                    </div>
                    <div class="paragraph-contact-text">
                        +61 8372 4662<br>
                    </div>
                    <div class="paragraph-tiny opacity-light">
                        Mon - Fri, 9am - 5pm<br>
                    </div>
                </div>
                <div class="number-contact-wrap">
                    <div class="paragraph-header">
                        Office Hotline
                    </div>
                    <div class="paragraph-contact-text">
                        +61 8372 4662<br>
                    </div>
                    <div class="paragraph-tiny opacity-light">
                        Mon - Fri, 9am - 5pm<br>
                    </div>
                </div>
                <div class="number-contact-wrap">
                    <div class="paragraph-header">
                        Email
                    </div>
                    <a href="mailto:support@store.com?subject=You've%20got%20mail" class="support-link">
                        support@store.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="our-shops"></a>
<div class="section">
    <div class="container">
        <div class="map-section">
            <h2>Our shops</h2>
            <iframe class="map w-widget w-widget-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.03608971403!2d-74.30933232776687!3d40.697539959864436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2spl!4v1691599152743!5m2!1sru!2spl" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<a name="get-in-touch"></a>
<section class="get-in-touch-section">
    <div class="container header-wrap">
        <h1>Get in touch</h1>
        <div class="paragraph-header opacity-light">
            Hey there, fill out this form
        </div>
    </div>
    <div class="container">
        <div class="styled">
            <div class="field">
                <label>Name</label>
                <input id="contactName" type="text" placeholder="Enter your name">
                <div id="contactFormNameError" class="errors-area">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span></span>
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input id="contactEmail" type="email" placeholder="Enter your email">
                <div id="contactFormEmailError" class="errors-area">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span></span>
                </div>
            </div>
            <div class="field">
                <label>Message</label>
                <textarea id="contactMessage" rows="5" maxlength="5000" placeholder="Enter your message"></textarea>
                <div id="contactFormMessageError" class="errors-area">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span></span>
                </div>
            </div>
            <button class="button black contact-btn" type="submit">Submit</button>
            <div id="contactFormError" class="errors-area">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span></span>
            </div>
            <div id="contactFormSuccess" class="success-msg">
                <i class="fa-regular fa-circle-check"></i>
                <span>Your request has been successfully received.</span>
            </div>
        </div>
    </div>
</section>