@model LoginViewModel;

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="auth-wrapper">
    <div class="auth-form">
        <form asp-controller="Auth" asp-action="Login">
            <h2>Sign In</h2>

            <div class="auth-field">
                <input asp-for="UsernameOrEmail" type="email" placeholder="Email or login" required />
                <i class="fa-regular fa-envelope auth-icon"></i>
            </div>
            <span asp-validation-for="UsernameOrEmail" class="failure"></span>
            <div class="auth-field">
                <input asp-for="Password" type="password" placeholder="Password" required />
                <i class="fa-solid fa-fingerprint auth-icon"></i>
                <i class="fa-regular fa-eye-slash pswd-hide"></i>
            </div>
            <span asp-validation-for="Password" class="failure"></span>
            <div class="options-field">
                <span class="checkbox">
                    <input asp-for="RememberMe" type="checkbox" id="check" checked />
                    <label for="check">Remember me</label>
                </span>
                <a asp-controller="Auth" asp-action="#" class="forgot_pswd">Forgot password?</a>
            </div>
            <button class="button black">Sign In</button>
        </form>
        <div class="auth-switch">
            Don't have an account yet? <a asp-controller="Auth" asp-action="Register">Sign Up</a>
        </div>
    </div>
</div>