@{
    ViewData["Title"] = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="auth-wrapper">
    <div class="auth-form reset-waiting">
        <div class="content-block">
            <img class="mail" src="/resources/icons/mail.png" />
            <div class="text-block">
                <h3>Check your email</h3>
                <p>We've sent instructions to @ViewBag.Email. Check your inbox or spam folder for further details.</p>
            </div>
        </div>
    </div>
</div>