@model ResetPasswordViewModel;

@{
    ViewData["Title"] = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="auth-wrapper">
    <div class="auth-form reset-pswd">
        <form asp-controller="Auth" asp-action="ResetPassword">
            <h2>Secure & Back In Fast</h2>
            <p>Protect your data with a strong, unique password. Choose one now and regain access instantly.</p>

            <div class="auth-field">
                <input asp-for="NewPassword" type="password" placeholder="New password" required />
                <i class='bx bx-lock-alt auth-icon'></i>
                <i class='bx bx-hide pswd-hide'></i>
            </div>
            <span asp-validation-for="NewPassword" class="failure"></span>
            <div class="auth-field">
                <input asp-for="NewPasswordConfirmation" type="password" placeholder="New password confirmation" required />
                <i class='bx bx-lock-alt auth-icon'></i>
                <i class='bx bx-hide pswd-hide'></i>
            </div>
            <span asp-validation-for="NewPasswordConfirmation" class="failure"></span>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="Token" type="hidden" />
            <button class="button black">Reset Password</button>
        </form>
    </div>
</div>