@model ResetPasswordRequestViewModel;

@{
    ViewData["Title"] = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="auth-wrapper">
    <div class="auth-form reset-pswd">
        <form asp-controller="Auth" asp-action="ResetPasswordRequest">
            <h2>Let's get you back in</h2>
            <p>Resetting your password is quick and easy. Just follow these steps.</p>

            <div class="auth-field">
                <input asp-for="Email" type="email" placeholder="Email" required />
                <i class='bx bx-envelope auth-icon'></i>
            </div>
            <span asp-validation-for="Email" class="failure"></span>
            <button class="button black">Send Reset Link</button>
        </form>
    </div>
</div>