<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/semantic-ui/dist/css/semantic.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="ui stackable menu">
            <div class="item">
                <img src="~/resources/images/mainMenuLogo.png">
            </div>
            <a class="item" asp-controller="Home" asp-action="Index">Main</a>
            <a class="item" asp-controller="Admin" asp-action="Products">Products</a>
            <a class="item" asp-controller="Admin" asp-action="Categories">Categories</a>
            <a class="item" asp-controller="Admin" asp-action="Orders">Orders</a>
            <a class="item" asp-controller="Admin" asp-action="Customers">Customers</a>
            <div class="ui dropdown item">
                Create
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item"><i class="edit icon"></i> Edit Profile</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </header>

    <div class="ui container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/semantic-ui/dist/js/semantic.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
