@{
    ViewData["Title"] = "Payment In Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-block">
    <img src="/resources/icons/hourglass.png" />
    <div class="text-block">
        <h3>Order payment pending authorization</h3>
        <p>Your order is currently awaiting payment authorization. Please wait while we review your payment information. You will receive a confirmation email once your payment has been authorized.</p>
    </div>
</div>