@{
    ViewData["Title"] = "Payment Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-block">
    <img src="/resources/icons/checked.png" />
    <div class="text-block">
        <h3>Order payment confirmed</h3>
        <p>Your order has been successfully paid and is now being processed. You will receive a confirmation email with tracking information once your order has shipped.</p>
    </div>
</div>