@{
    ViewData["Title"] = "Payment Failure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered-block">
    <img src="/resources/icons/failed.png" />
    <div class="text-block">
        <h3>Order payment failure</h3>
        <p>There was a failure in processing your payment. Please try again or contact customer support for assistance.</p>
    </div>
</div>