<div class="header-icon cart-button">
    <a asp-controller="Order" asp-action="ViewCart">
        <img src="~/resources/icons/shopping-cart.png" width="20" alt="">
        <div class="counter">
            <span id="cartQuantity" class="number">@ViewBag.CartItems</span>
        </div>
    </a>
</div>