<div class="cart">
    <a class="cart-button" asp-controller="Order" asp-action="ViewCart">
        <img src="~/resources/images/shopping-cart.png" width="20" alt="">
        <div class="cart-quantity">@ViewBag.CartItems</div>
    </a>
</div>