<div class="header-icon cart-button">
    <div class="icon-container">
        <a href="/wishlist">
            <img src="~/resources/icons/like.png" width="20" alt="">
            <div class="counter">
                <span id="wishlistQuantity" class="number">@ViewBag.WishlistItems</span>
            </div>
        </a>
    </div>
</div>