<div class="footer">
    <div class="footer-container w-container">
        <div class="w-layout-grid footer-grid">
            <div class="footer-logo-block">
                <a data-ix="logo" href="/" aria-current="page" class="footer-logo">
                    <img src="~/resources/images/store-logo.png" alt="Company Logo">
                </a>
                <p class="paragraph-small">
                    Built by <a href="https://github.com/swift37" target="_blank">swift</a>.<br>
                    Powered by <a href="https://github.com/swift37" target="_blank">Company</a>.<br>
                </p>
                <div class="spacer _16"></div>
                <div class="paragraph-small">
                    &copy; 2024 Company. All Rights Reserved.
                </div>
            </div>
            <div class="footer-links-container">
                <h5 class="footer-header">
                    Categories
                </h5>
                <a class="footer-link" asp-controller="Catalog" asp-action="Index" asp-route-categoryId="1">
                    Laptops and computers
                </a>
                <a class="footer-link" asp-controller="Catalog" asp-action="Index" asp-route-categoryId="2">
                    Smartphones and smartwatches
                </a>
                <a class="footer-link" asp-controller="Catalog" asp-action="Index" asp-route-categoryId="3">
                    Gaming and streaming
                </a>
                <a class="footer-link" asp-controller="Catalog" asp-action="Index" asp-route-categoryId="5">
                    Computer components
                </a>
                <a class="footer-link" asp-controller="Catalog" asp-action="Index" asp-route-categoryId="6">
                    TV and audio
                </a>
                <a class="footer-link" asp-controller="Catalog" asp-action="Index" asp-route-categoryId="8">
                    Accessories
                </a>
            </div>
            <div class="footer-links-container">
                <h5 class="footer-header">
                    Store
                </h5>
                <a class="footer-link" asp-controller="Home" asp-action="Index">
                    Main
                </a>
                <a class="footer-link" asp-controller="Home" asp-action="Contact">
                    Support
                </a>
                <a class="footer-link" asp-controller="Home" asp-action="About">
                    About
                </a>
                <a class="footer-link" asp-controller="Home" asp-action="Events">
                    Events
                </a>
            </div>
            <div class="footer-links-container">
                <h5 class="footer-header">
                    Account
                </h5>
                <a class="footer-link" asp-controller="Account" asp-action="Orders">
                    Orders
                </a>
                <a class="footer-link" asp-controller="Account" asp-action="Reviews">
                    Reviews
                </a>
                <a class="footer-link" asp-controller="Wishlist" asp-action="Index">
                    Wishlist
                </a>
                <a class="footer-link" asp-controller="Account" asp-action="Settings">
                    Settings & Privacy
                </a>
                <a class="footer-link" asp-controller="Auth" asp-action="Logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</div>