<div class="footer">
    <div class="footer-container w-container">
        <div class="w-layout-grid footer-grid">
            <div class="footer-logo-block">
                <a data-ix="logo" href="/" aria-current="page" class="footer-logo">
                    <img src="~/resources/images/store-logo.png" alt="Company Logo">
                </a>
                <p class="paragraph-small">
                    Built by <a href="/" target="_blank">swift</a>.<br>
                    Powered by <a href="/" target="_blank">Company</a>.<br>
                </p>
                <div class="spacer _16"></div>
                <div class="paragraph-small">
                    © 2023 Company. All Rights Reserved.
                </div>
            </div>
            <div class="footer-links-container">
                <h5 class="footer-header">
                    Website
                </h5>
                <a href="/" aria-current="page" class="footer-link w--current">
                    Home
                </a>
                <a href="/resources" class="footer-link">
                    Resources
                </a>
                <a href="/contact" class="footer-link">
                    Contact
                </a>
                <a href="/ebook/grids-alignment" class="footer-link">
                    Ebook (CMS)
                </a>
                <a href="/terms-conditions" class="footer-link">
                    Terms &amp; Conditions
                </a>
                <a href="/privacy-policy" class="footer-link">
                    Privacy Policy
                </a>
            </div>
            <div class="footer-links-container">
                <h5 class="footer-header">
                    Membership
                </h5>
                <a href="/log-in" class="footer-link">
                    Sign In
                </a>
                <a href="/sign-up" class="footer-link">
                    Sign Up
                </a>
                <a href="/user-account" class="footer-link">
                    User Account
                </a>
                <a href="/reset-password" class="footer-link">
                    Reset Password
                </a>
            </div>
            <div class="footer-links-container">
                <h5 class="footer-header">
                    Admin
                </h5>
                <a href="/admin/style-guide" class="footer-link">
                    Style Guide
                </a>
                <a href="/admin/licenses" class="footer-link">
                    Licenses
                </a><a href="/admin/instructions" class="footer-link">
                    Instructions
                </a>
                <a href="/401" class="footer-link">
                    Password
                </a>
                <a href="/404" class="footer-link">
                    404
                </a>
            </div>
        </div>
    </div>
</div>