@model OnlineStore.MVC.Models.Subscriber.CreateSubscriberViewModel

<section class="subscribe-section">
    <div class="content">
        <div class="subscribe-head">
            Newsletter
        </div>
        <div class="paragraph-light subscribe-paragraph">
            Sign up to receive updates from our shop, including new tea selections and upcoming events.
        </div>
        <form class="subscribe-form" asp-action="Subscribe" method="post">
            <input type="email" asp-for="Email" placeholder="Enter your email" required>
            <button type="submit" class="subscribe-btn">Sign up</button>
        </form>
    </div>
</section>