<section class="subscribe-section">
    <div class="content">
        <div class="subscribe-head">
            Newsletter
        </div>
        <div class="paragraph-light subscribe-paragraph">
            Sign up to receive updates from our shop, including new tea selections and upcoming events.
        </div>
        <div class="subscribe-form">
            <input type="email" placeholder="Enter your email" required>
            <button type="submit" class="subscribe-btn">Sign up</button>
        </div>
    </div>
</section>