<div id="toastNotif" class="toast">
    <i class='bx bx-x t-close'></i>

    <div class="toast-content">
        <i class='bx bx-check'></i>

        <div class="message">
            <span class="text headline"></span>
            <span class="text details"></span>
        </div>
    </div>

    <div class="progress">
        <div class="progress-line"></div>
    </div>
</div>