@{
    ViewData["Title"] = "CheckoutFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout falied</h2>
<h4>Forgot to add something to your cart? Shop around then come back to pay!</h4>