@*@model OnlineStore.Domain.Order;*@

@{
    ViewData["Title"] = "Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-checkout">
    <div class="container">
        <div class="wrapper">
            <div class="checkout flexwrap">
                <div class="item left styled">
                    <h1>Shipping Address</h1>
                    <form asp-controller="Order" asp-action="CreateOrder" method="post">
                        <div class="field">
                            <label for="email">Email Address <span></span></label>
                            <input type="email" name="email" id="email" autocomplete="off" required>
                        </div>
                        <div class="field">
                            <label for="fname">First Name <span></span></label>
                            <input type="text" id="fname" required>
                        </div>
                        <div class="field">
                            <label for="lname">Last Name <span></span></label>
                            <input type="text" id="lname" required>
                        </div>
                        <div class="field">
                            <label for="cname">Company Name</label>
                            <input type="text" id="cname">
                        </div>
                        <div class="field">
                            <label for="address">Last Name <span></span></label>
                            <input type="text" id="address" required>
                        </div>
                        <div class="field">
                            <label for="city">City <span></span></label>
                            <input type="text" id="city" required>
                        </div>
                        <div class="field">
                            <label for="state">State / Province <span></span></label>
                            <input type="text" id="state" required>
                        </div>
                        <div class="field">
                            <label for="postal">Zip / Postal Code <span></span></label>
                            <input type="number" id="postal" required>
                        </div>
                        <div class="field">
                            <label for="country">Country <span></span></label>
                            <select name="country" id="country">
                                <option value=""></option>
                                <option value="1" selected="selected">United States</option>
                                <option value="2">Canada</option>
                                <option value="3">Australia</option>
                                <option value="4">Japan</option>
                                <option value="5">Others</option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="phone">Phone Number <span></span></label>
                            <input type="number" id="phone" required>
                        </div>
                        <div class="field">
                            <label for="notes">Order Notes (optional) <span></span></label>
                            <textarea cols="30" rows="3" type="number" id="notes"></textarea>
                        </div>
                        <div class="field checkset">
                            <input type="checkbox" id="anaccount">
                            <label for="anaccount">Create an account?</label>
                        </div>
                    </form>
                    <div class="shipping-methods">
                        <h2>Shipping Methods</h2>
                        <div class="field rate-options">
                            <p>
                                <span>Flat: $10.00</span>
                                <input type="radio" name="rate-option" id="flat" checked>
                                <label for="flat" class="circle"></label>
                            </p>
                            <p>
                                <span>Best: $0.00</span>
                                <input type="radio" name="rate-option" id="best">
                                <label for="best" class="circle"></label>
                            </p>
                        </div>
                    </div>
                    <div class="primary-checkout">
                        <button class="primary-button" type="submit">Place Order</button>
                    </div>
                </div>
                <div class="item right">
                    <h2>Order Summary</h2>
                    <div class="summary-order">
                        <div class="summary-totals">
                            <ul>
                                <li>
                                    <span>Subtotal</span>
                                    <span>$3578.97</span>
                                </li>
                                <li>
                                    <span>Discount</span>
                                    <span>-$150.00</span>
                                </li>
                                <li>
                                    <span>Shipping: Flat</span>
                                    <span>$10.00</span>
                                </li>
                                <li>
                                    <span>Total</span>
                                    <strong>$3438.97</strong>
                                </li>
                            </ul>
                        </div>
                        <ul class="products mini">
                            <li class="item">
                                <div class="thumbnail object-contain">
                                    <img src="~/resources/productsImages/hp-laptop-victus.jpg" alt="">
                                </div>
                                <div class="item-content">
                                    <p>HP Victus 16'</p>
                                    <span class="price">
                                        <span>$3854.99</span>
                                        <span>x 2</span>
                                    </span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="thumbnail object-contain">
                                    <img src="~/resources/productsImages/hp-laptop-victus.jpg" alt="">
                                </div>
                                <div class="item-content">
                                    <p>HP Victus 16'</p>
                                    <span class="price">
                                        <span>$3854.99</span>
                                        <span>x 2</span>
                                    </span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="thumbnail object-contain">
                                    <img src="~/resources/productsImages/hp-laptop-victus.jpg" alt="">
                                </div>
                                <div class="item-content">
                                    <p>HP Victus 16'</p>
                                    <span class="price">
                                        <span>$3854.99</span>
                                        <span>x 2</span>
                                    </span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="thumbnail object-contain">
                                    <img src="~/resources/productsImages/hp-laptop-victus.jpg" alt="">
                                </div>
                                <div class="item-content">
                                    <p>HP Victus 16'</p>
                                    <span class="price">
                                        <span>$3854.99</span>
                                        <span>x 2</span>
                                    </span>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="subscribe-section">
    <div class="content-container">
        <div class="subscribe-header">
            Newsletter
        </div>
        <div class="paragraph-light subscribe-paragraph">
            Sign up to receive updates from our shop, including new tea selections and upcoming events.
        </div>
        <div class="ui action input">
            <input type="text" value="" placeholder="Enter your email">
            <div class="ui black button">Subscribe</div>
        </div>
    </div>
</section>

@*<form asp-controller="Order" asp-action="CreateOrder" method="post" class="ui form">
    <h4 class="ui dividing header">Shipping Information</h4>
    <div class="field">
        <label>Name</label>
        <div class="two fields">
            <div class="field">
                <input type="text" asp-for="FirstName" placeholder="First Name">
            </div>
            <div class="field">
                <input type="text" asp-for="LastName" placeholder="Last Name">
            </div>
        </div>
    </div>
    <div class="fields">
        <div class="eight wide field">
            <label asp-for="City"></label>
            <input type="text" asp-for="City" placeholder="City">
        </div>
        <div class="four wide field">
            <label asp-for="State"></label>
            <select asp-for="State" class="ui fluid dropdown">
                <option value="">State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </div>
        <div class="four wide field">
            <label asp-for="Postcode"></label>
            <input type="text" asp-for="Postcode" placeholder="Postcode">
        </div>
    </div>
    <div class="field">
        <label>Billing Address</label>
        <div class="two fields">
            <div class="twelve wide field">
                <input type="text" asp-for="StreetAddress" placeholder="Street Address">
            </div>
            <div class="four wide field">
                <input type="text" asp-for="Apartment" placeholder="Apt #">
            </div>
        </div>
    </div>
    <div class="field">
        <label asp-for="Phone">Phone</label>
        <input type="text" asp-for="Phone" placeholder="Phone">
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" id="termsCheckbox">
            <label>I agree to the terms and conditions</label>
        </div>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox">
            <label>Don`t include a receipt in the package</label>
        </div>
    </div>
    <button id="checkoutBtn" class="ui button" type="submit" disabled>Submit Order and Checkout</button>
    <input name="CartId" type="hidden" value="@ViewBag.Cart" />
</form>*@