@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Password changing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <partial name="_AccountMenu" />
            <div class="acc-content">
                <div class="content-box">
                    <header class="box-header">
                        <h2>Password Changing</h2>
                        <span>You are changing your password right now</span>
                    </header>

                    <form class="credentials-upd" asp-controller="Account" asp-action="ChangeEmail" method="post">
                        <div class="single-field">
                            <label>Old Password</label>
                            <input asp-for="OldPassword"
                                   type="password"
                                   placeholder="Enter your old password"
                                   required />
                        </div>
                        <div class="double-field">
                            <div class="single-field">
                                <label>New Password</label>
                                <input asp-for="NewPassword"
                                       type="password"
                                       placeholder="Create a new password"
                                       required />
                            </div>
                            <div class="single-field">
                                <label>Confirm New Password</label>
                                <input asp-for="NewPasswordConfirmation"
                                       type="password"
                                       placeholder="Confirm a new password"
                                       required />
                            </div>
                        </div>
                        <div class="form-buttons">
                            <button class="button black" type="submit">Continue</button>
                            <a asp-controller="Account" asp-action="Settings" class="button black outlined">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>