@{
    ViewData["Title"] = "ChangeCredentialsConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <partial name="_AccountMenu" />
            <div class="acc-content">
                <div class="content-box">
                    <div class="content-block">
                        <img class="mail" src="/resources/icons/mail.png" />
                        <div class="text-block">
                            <h3>Check your email</h3>
                            <p>Please, check your email to confirm operation processing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

