
@{
    ViewData["Title"] = "ChangeCredentialsSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <partial name="_AccountMenu" />
            <div class="acc-content">
                <div class="content-box">
                    <div class="content-block">
                        <img src="/resources/icons/checked.png" />
                        <div class="text-block">
                            <h3>Credentials changed successfully</h3>
                            <p>Your account security has been enhanced. Please use your new credentials to sign in.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>