@using System.IdentityModel.Tokens.Jwt

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <partial name="_AccountMenu" />
            <div class="acc-content">
                <div class="content-box">
                    <div class="account-header">
                        <h2>Your Last Order</h2>
                        <a asp-controller="Account" asp-action="Orders">
                            <span>Show all</span>
                            <i class='bx bx-chevron-right'></i>
                        </a>
                    </div>

                    <div class="account-last-order">
                        <a href="#" class="orders-list-line">
                            <div class="left-part">
                                <h3>Completed</h3>
                                <span>15 January 2024</span>
                                <span>0043589435532</span>
                                <span class="price">$1249.00</span>
                            </div>
                            <div class="right-part">
                                <div class="line-image">
                                    <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                </div>
                                <p>ASUS ROG Strix G15</p>
                            </div>
                        </a>
                    </div>

                    <div class="account-header">
                        <h2>Your Wishlist</h2>
                        <a asp-controller="Account" asp-action="Wishlist">
                            <span>Show</span>
                            <i class='bx bx-chevron-right'></i>
                        </a>
                    </div>

                    <a class="account-wishlist-preview" asp-controller="Account" asp-action="Wishlist">
                        <span class="last-change">Last change: January 13, 2024</span>
                        <div class="product-previews">
                            <div class="line-image">
                                <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                            </div>
                            <div class="line-image">
                                <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                            </div>
                            <div class="line-image">
                                <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="total">
                            <span>Total:</span>
                            <span>$9800.00</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/account.min.js" asp-append-version="true"></script>
}