@using System.IdentityModel.Tokens.Jwt

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <div class="acc-menu">
                <header>
                    <h3>
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                        <span>Developer</span>
                    </h3>
                </header>
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-user'></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-receipt'></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-message-square-dots'></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-cog'></i>
                            Settings & Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">
                            <i class='bx bx-log-out'></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="acc-content">
                <div class="content-box">
                    <div class="acc-settings">
                        <div class="tab-switch">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class='bx bx-info-circle'></i>
                                        Personal Info
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bx-shield'></i>
                                        Security
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bx-show-alt'></i>
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>