@using System.IdentityModel.Tokens.Jwt

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <div class="acc-menu">
                <header>
                    <h3>
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                        <span>Developer</span>
                    </h3>
                </header>
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-id-card'></i>
                            Account
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-layer'></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-message-square-dots'></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-cog'></i>
                            Settings & Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">
                            <i class='bx bx-log-out'></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="acc-content">
                <div class="content-box">
                    <div class="acc-settings">
                        <div class="tab-switch">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class='bx bx-info-circle'></i>
                                        Personal Info
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bx-shield'></i>
                                        Security
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bx-show-alt'></i>
                                        Privacy
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="info-tab">
                                <header class="tab-header">
                                    <h3>General Information</h3>
                                    <span>Here you can change your personal information.</span>
                                </header>
                                <form>
                                    <div class="double-field">
                                        <div class="single-field">
                                            <label>First Name</label>
                                            <input type="text" placeholder="Unspecified" required />
                                        </div>
                                        <div class="single-field">
                                            <label>Last Name</label>
                                            <input type="text" placeholder="Unspecified" required />
                                        </div>
                                    </div>
                                    <div class="single-field">
                                        <label>Email Address</label>
                                        <input type="email" placeholder="Unspecified" required />
                                    </div>
                                    <div class="double-field">
                                        <div class="single-field">
                                            <label>Login</label>
                                            <input type="text" placeholder="Unspecified" required />
                                        </div>
                                        <div class="single-field">
                                            <label>Phone Number</label>
                                            <input type="tel" placeholder="Unspecified" required />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="security-tab">
                                <header class="tab-header">
                                    <h3>Sucurity</h3>
                                    <span>Here you can change your security settings.</span>
                                </header>
                                <div class="settings-group">
                                    <header>
                                        <h4>Login settings</h4>
                                    </header>
                                    <div class="settings-field">
                                        <p>
                                            Two-Step Authentication
                                            <span>Lorem ipsum dolor sit amet consectetur</span>
                                        </p>
                                        <input type="checkbox" class="toggle-switch" />
                                    </div>
                                    <div class="settings-field">
                                        <p>
                                            Email Authentication
                                            <span>Lorem ipsum dolor sit amet consectetur</span>
                                        </p>
                                        <input type="checkbox" class="toggle-switch" />
                                    </div>
                                    <div class="settings-field">
                                        <p>
                                            Login with Email Confirmation
                                            <span>Lorem ipsum dolor sit amet consectetur</span>
                                        </p>
                                        <input type="checkbox" class="toggle-switch" />
                                    </div>
                                    <div class="settings-field">
                                        <p>
                                            Login with SMS Confirmation
                                            <span>Lorem ipsum dolor sit amet consectetur</span>
                                        </p>
                                        <input type="checkbox" class="toggle-switch" />
                                    </div>
                                </div>
                                <div class="settings-group">
                                    <header>
                                        <h4>Password security</h4>
                                    </header>
                                    <div class="settings-field">
                                        <p>
                                            Password change
                                            <span>Lorem ipsum dolor sit amet consectetur</span>
                                        </p>
                                        <a href="#">Change Password</a>
                                    </div>
                                </div>
                                <div class="settings-group">
                                    <header>
                                        <h4>Email security</h4>
                                    </header>
                                    <div class="settings-field">
                                        <p>
                                            Email change
                                            <span>Lorem ipsum dolor sit amet consectetur</span>
                                        </p>
                                        <a href="#">Change email</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>