@using System.IdentityModel.Tokens.Jwt

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <div class="acc-menu">
                <header>
                    <h3>
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                        <span>Developer</span>
                    </h3>
                </header>
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-id-card'></i>
                            Account
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Orders">
                            <i class='bx bx-layer'></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Reviews">
                            <i class='bx bx-message-square-dots'></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Wishlist">
                            <i class='bx bx-heart'></i>
                            Wishlist
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Settings">
                            <i class='bx bx-cog'></i>
                            Settings & Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">
                            <i class='bx bx-log-out'></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="acc-content">
                <div class="content-box">
                    <a class="back-to-menu" asp-controller="Account" asp-action="Orders">
                        <i class='bx bx-chevron-left'></i>
                        <span>All Orders</span>
                    </a>
                    <header class="box-header">
                        <h3>Order number <span>003453285345</span></h3>
                        <p>placed January 16, 2024</p>
                    </header>

                    <h3 class="order-details-header">Delivery</h3>
                    <div class="order-detail-stretch-box">
                        <div class="stretch-box-content">
                            <i class='bx bx-package'></i>
                            <div class="info">
                                <p>Courier - DHL</p>
                                <span>Fast delivery</span>
                            </div>
                        </div>
                    </div>

                    <div class="details-double-box">
                        <div class="order-detail-box">
                            <h4 class="order-details-header">
                                Pickup Address
                            </h4>
                            <div class="box-content">
                                <h5>Meade Construction, 977 West Cermak Road</h5>
                                <p>60608 Chicago</p>
                                <p>Illinois (IL), Cook County</p>
                                <p>United States</p>
                            </div>
                        </div>
                        <div class="order-detail-box">
                            <h4 class="order-details-header">
                                The recipient's details
                            </h4>
                            <div class="box-content">
                                <h5>Jonathan Winston</h5>
                                <p>(206) 342-8631</p>
                                <p>admin@onlinestore.com</p>
                            </div>
                        </div>
                    </div>

                    <h3 class="order-details-header">Payment method</h3>
                    <div class="order-detail-stretch-box">
                        <div class="stretch-box-content">
                            <i class='bx bx-wallet'></i>
                            <div class="info">
                                <p>Payment on receipt</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/account.min.js" asp-append-version="true"></script>
}