@using System.IdentityModel.Tokens.Jwt

<div class="account-section">
    <div class="container">
        <div class="account-wrapper">
            <div class="account-menu">
                <header>
                    <h3>
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                        <span>Developer</span>
                    </h3>
                </header>
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-user'></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-receipt'></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-message-square-dots'></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-cog'></i>
                            Settings & Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">
                            <i class='bx bx-log-out'></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="account-content">
            </div>
        </div>
    </div>
</div>