@using System.IdentityModel.Tokens.Jwt

<div class="container account">
    <div class="account-wrapper">
        <div class="account-menu">
            <header>
                <h3>
                    @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                    @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                    <span>Developer</span>
                </h3>
            </header>
            <ul>
                <li>
                    <i class="fa-regular fa-user"></i>
                    <a asp-controller="Account" asp-action="Index">Profile</a>
                </li>
                <li>
                    <i class="fa-regular fa-clipboard"></i>
                    <a asp-controller="Account" asp-action="Index">Orders</a>
                </li>
                <li>
                    <i class="fa-regular fa-message"></i>
                    <a asp-controller="Account" asp-action="Index">Reviews</a>
                </li>
                <li>
                    <i class="fa-solid fa-gear"></i>
                    <a asp-controller="Account" asp-action="Index">Settings & Privacy</a>
                </li>
                <li>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <a asp-controller="Auth" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="account-content">
        </div>
    </div>
</div>