@using System.IdentityModel.Tokens.Jwt

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <div class="acc-menu">
                <header>
                    <h3>
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                        <span>Developer</span>
                    </h3>
                </header>
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-id-card'></i>
                            Account
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Orders">
                            <i class='bx bx-layer'></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Reviews">
                            <i class='bx bx-message-square-dots'></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Wishlist">
                            <i class='bx bx-heart'></i>
                            Wishlist
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Settings">
                            <i class='bx bx-cog'></i>
                            Settings & Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">
                            <i class='bx bx-log-out'></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="acc-content">
                <div class="content-box">
                    <header class="box-header">
                        <h3>Orders</h3>
                    </header>

                    <div class="orders-list">
                        <div class="orders-list-header">
                            January 2024
                        </div>
                        <a href="#" class="orders-list-line">
                            <div class="left-part">
                                <h3>Completed</h3>
                                <span>15 January 2024</span>
                                <span>0043589435532</span>
                                <span class="price">$1249.00</span>
                            </div>
                            <div class="right-part">
                                <div class="line-image">
                                    <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                </div>
                                <p>ASUS ROG Strix G15</p>
                            </div>
                        </a>
                        <a href="#" class="orders-list-line">
                            <div class="left-part">
                                <h3>Completed</h3>
                                <span>15 January 2024</span>
                                <span>0043589435532</span>
                                <span class="price">$1249.00</span>
                            </div>
                            <div class="right-part">
                                <div class="line-image">
                                    <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                </div>
                                <p>ASUS ROG Strix G15</p>
                            </div>
                        </a>
                        <a href="#" class="orders-list-line">
                            <div class="left-part">
                                <h3>Completed</h3>
                                <span>15 January 2024</span>
                                <span>0043589435532</span>
                                <span class="price">$1249.00</span>
                            </div>
                            <div class="right-part">
                                <div class="line-image">
                                    <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                </div>
                                <p>ASUS ROG Strix G15</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/account.min.js" asp-append-version="true"></script>
}