@using System.IdentityModel.Tokens.Jwt

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <div class="acc-menu">
                <header>
                    <h3>
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
                        @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br />
                        <span>Developer</span>
                    </h3>
                </header>
                <ul>
                    <li>
                        <a asp-controller="Account" asp-action="Index">
                            <i class='bx bx-id-card'></i>
                            Account
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Orders">
                            <i class='bx bx-layer'></i>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Reviews">
                            <i class='bx bx-message-square-dots'></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Wishlist">
                            <i class='bx bx-heart'></i>
                            Wishlist
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Settings">
                            <i class='bx bx-cog'></i>
                            Settings & Privacy
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">
                            <i class='bx bx-log-out'></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="acc-content">
                <div class="content-box">
                    <header class="box-header">
                        <h3>Wishlist</h3>
                        <span>Last change: 13.01.2024</span>
                    </header>
                    <div class="products-list">
                        <div class="products-list-header">
                            <div class="line-check">
                                <input type="checkbox" id="pSelect" />
                                <label class="check" for="pSelect"></label>
                                <label class="text" for="pSelect">Select all</label>
                            </div>
                            <div class="actions">
                                <button>
                                    <i class='bx bx-cart-add'></i>
                                    Add to cart
                                </button>
                                <button>
                                    <i class='bx bx-trash-alt'></i>
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="products-list-line">
                            <div class="left-part">
                                <div class="line-check">
                                    <input type="checkbox" id="pSelect" />
                                    <label class="check" for="pSelect"></label>
                                </div>
                                <div class="line-image">
                                    <a asp-controller="Catalog" asp-action="Product" asp-route-id="3">
                                        <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <div class="middle-part">
                                <a asp-controller="Catalog" asp-action="Product" asp-route-id="3">
                                    ASUS ROG Strix G15
                                </a>
                                <p>$1250.00</p>
                            </div>
                            <div class="right-part">
                                <div class="qty-control flexitem">
                                    <button class="qty-minus">-</button>
                                    <input class="qty-value" type="text" value="1" data-itemid="3" min="1" pattern="^[0-9]+$">
                                    <button class="qty-plus">+</button>
                                </div>
                                <button class="item-add-to-cart" data-itemid="3">
                                    <i class='bx bx-cart-add'></i>
                                </button>
                                <button class="item-remove from-wishlist" data-itemid="3">
                                    <i class='bx bx-trash-alt'></i>
                                </button>
                            </div>
                        </div>
                        <div class="products-list-line">
                            <div class="left-part">
                                <div class="line-check">
                                    <input type="checkbox" id="pSelect" />
                                    <label class="check" for="pSelect"></label>
                                </div>
                                <div class="line-image">
                                    <a asp-controller="Catalog" asp-action="Product" asp-route-id="3">
                                        <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <div class="middle-part">
                                <a asp-controller="Catalog" asp-action="Product" asp-route-id="3">
                                    ASUS ROG Strix G15
                                </a>
                                <p>$1250.00</p>
                            </div>
                            <div class="right-part">
                                <div class="qty-control flexitem">
                                    <button class="qty-minus">-</button>
                                    <input class="qty-value" type="text" value="1" data-itemid="3" min="1" pattern="^[0-9]+$">
                                    <button class="qty-plus">+</button>
                                </div>
                                <button class="item-add-to-cart" data-itemid="3">
                                    <i class='bx bx-cart-add'></i>
                                </button>
                                <button class="item-remove from-wishlist" data-itemid="3">
                                    <i class='bx bx-trash-alt'></i>
                                </button>
                            </div>
                        </div>
                        <div class="products-list-line">
                            <div class="left-part">
                                <div class="line-check">
                                    <input type="checkbox" id="pSelect" />
                                    <label class="check" for="pSelect"></label>
                                </div>
                                <div class="line-image">
                                    <a asp-controller="Catalog" asp-action="Product" asp-route-id="3">
                                        <img src="/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg" alt="Image">
                                    </a>
                                </div>
                            </div>
                            <div class="middle-part">
                                <a asp-controller="Catalog" asp-action="Product" asp-route-id="3">
                                    ASUS ROG Strix G15
                                </a>
                                <p>$1250.00</p>
                            </div>
                            <div class="right-part">
                                <div class="qty-control flexitem">
                                    <button class="qty-minus">-</button>
                                    <input class="qty-value" type="text" value="1" data-itemid="3" min="1" pattern="^[0-9]+$">
                                    <button class="qty-plus">+</button>
                                </div>
                                <button class="item-add-to-cart" data-itemid="3">
                                    <i class='bx bx-cart-add'></i>
                                </button>
                                <button class="item-remove from-wishlist" data-itemid="3">
                                    <i class='bx bx-trash-alt'></i>
                                </button>
                            </div>
                        </div>
                        <div class="products-list-summary">
                            <div class="products-count">
                                3 products
                            </div>
                            <div class="products-total">
                                <div class="total-lines">
                                    <div class="total-line">
                                        <span>Subtotal:</span>
                                        <span>$1500.00</span>
                                    </div>
                                    <div class="total-line">
                                        <span>Discount:</span>
                                        <span>-$100.00</span>
                                    </div>
                                </div>
                                <div class="total-sum">
                                    <span>Total:</span>
                                    <span>$1400.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/account.min.js" asp-append-version="true"></script>
}