@using System.IdentityModel.Tokens.Jwt

<div class="icon-container">
    <a href="/">
        <img src="~/resources/icons/user.png" width="20" alt="Account">
    </a>
</div>

<div class="dropdown-menu">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h3>
            @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
            @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br /> 
            <span>Developer</span>
        </h3>
        <ul>
            <li>
                <i class="fa-regular fa-user"></i>
                <a href="/">Profile</a>
            </li>
            <li>
                <i class="fa-regular fa-clipboard"></i>
                <a href="/">Orders</a>
            </li>
            <li>
                <i class="fa-regular fa-message"></i>
                <a href="/">Reviews</a>
            </li>
            <li>
                <i class="fa-solid fa-gear"></i>
                <a href="/">Settings & Privacy</a>
            </li>
            <li>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            </li>
        </ul>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login" class="button black">Sign In</a>
        <div class="separator">Or</div>
        <a asp-controller="Auth" asp-action="Register" class="button black">Sign Up</a>
    }
</div>