@using System.IdentityModel.Tokens.Jwt

<div class="icon-container">
    <a asp-controller="Account" asp-action="Index">
        <img src="~/resources/icons/user.png" width="20" alt="Account">
    </a>
</div>

<div class="dropdown-menu">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h3>
            @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.GivenName)?.Value
            @User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.FamilyName)?.Value <br /> 
            <span>Developer</span>
        </h3>
        <ul>
            <li>
                <i class='bx bx-id-card'></i>
                <a asp-controller="Account" asp-action="Index">Account</a>
            </li>
            <li>
                <i class='bx bx-layer'></i>
                <a asp-controller="Account" asp-action="Orders">Orders</a>
            </li>
            <li>
                <i class='bx bx-message-square-dots'></i>
                <a asp-controller="Account" asp-action="Reviews">Reviews</a>
            </li>
            <li>
                <i class='bx bx-message-square-dots'></i>
                <a asp-controller="Account" asp-action="Wishlist">Wishlist</a>
            </li>
            <li>
                <i class='bx bx-cog'></i>
                <a asp-controller="Account" asp-action="Settings">Settings & Privacy</a>
            </li>
            <li>
                <i class='bx bx-log-out'></i>
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            </li>
        </ul>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login" class="button black">Sign In</a>
        <div class="separator">Or</div>
        <a asp-controller="Auth" asp-action="Register" class="button black">Sign Up</a>
    }
</div>