<div class="icon-container">
    <a href="/">
        <img src="~/resources/icons/user.png" width="20" alt="Account">
    </a>
</div>

<div class="dropdown-menu active">
    <h3>Name Surname <br/> <span>Developer</span></h3>
    <ul>
        <li><i class="fa-regular fa-user"></i><a>Profile</a></li>
        <li><i class="fa-regular fa-clipboard"></i><a>Orders</a></li>
        <li><i class="fa-regular fa-message"></i><a>Reviews</a></li>
        <li><i class="fa-solid fa-gear"></i><a>Settings & Privacy</a></li>
        <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a>Logout</a></li>
    </ul>
</div>