<div class="hub-component">
    <a class="component-trigger" href="/wishlist">
        <div class="icon-container">
            <img src="~/resources/icons/like.png" width="20" alt="">
            @if (ViewBag.UserAuthenticated)
            {
                <div class="counter">
                    <span id="wishlistQuantity" class="number">@ViewBag.WishlistItems</span>
                </div>
            }
        </div>
    </a>
</div>