html {
    font-size: 14px;
}

@media (min-width: 991px) {
    html {
        font-size: 16px;
    }
}

html, body {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: Montserrat, sans-serif;
    color: #1a1b1f;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

main {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

a {
    transition: color 200ms ease;
    color: #626a72;
    text-decoration: none;
}

    a:active, a:hover {
        outline: 0;
        color: #1d1d1d;
    }

ul {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 40px;
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
}

#paginationMenu {
    margin-top: 25px;
}

#cartTotal {
    display: flex;
    justify-content: space-between;
}

.ui.menu {
    margin-bottom: 0;
}

.products.popup {
    padding: 0em;
}

.contact.popup {
    padding: 0em;
}

.ui.secondary.vertical.menu .item {
    padding-left: 10%;
}

.ui.breadcrumb a {
    color: #626a72;
}

    .ui.breadcrumb a:hover {
        color: #1d1d1d
    }

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.basic-grid {
    margin-top: 60px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas: ". . . .";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
    .grid {
        grid-template-areas:
            "."
            "."
            "."
            ".";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}

.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}

.navbar {
    z-index: auto;
    width: 100%;
    padding: 15px 35px;
    grid-auto-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid #ebedee;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    /*text-transform: uppercase;*/
}

    .navbar.active-nav {
        position: sticky;
        top: 0px;
        z-index: 100;
    }

@media screen and (max-width: 991px) {
    .navbar {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
    .nav-wrap {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-column-gap: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

.w-nav-brand {
    position: relative;
    float: left;
    line-height: 26px;
    text-decoration: none;
    color: #333333;
}

    .w-nav-brand:hover {
        opacity: 0.7;
    }

.brand {
    display: flex;
    padding-left: 0px;
}

.nav-menu-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.w-nav-menu {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    float: right;
}

@media (max-width: 991px) {
    .nav-menu {
        z-index: 15;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ebedee;
        background-color: #fff;
    }
}

@media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-menu {
        display: none;
    }
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.nav-link {
    margin-right: 12px;
    margin-left: 12px;
    padding: 0px;
}

    .nav-link:hover{
        opacity: 0.85;
        color: #18181d;
    }
    
    .nav-link.w--current {
        opacity: 0.7;
        color: #18181d;
    }

@media (max-width: 991px) {
    .nav-link {
        margin-right: 0px;
        margin-left: 0px;
        padding: 14px 24px;
    }
}

.header-icon {
    position: relative;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
}

    .header-icon img:hover {
        opacity: 0.7;
    }

    .header-icon .counter {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 16px;
        min-width: 16px;
        z-index: 1;
        border-radius: 20px;
        background: #006ce1;
        text-align: center;
    }

        .header-icon .counter .number {
            display: flex;
            height: 16px;
            justify-content: center;
            align-items: center;
            font-size: 12px !important;
            color: #fff;
        }

        .header-icon .counter.two-counter {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            gap: 8px;
            width: 23px;
            height: 16px;
            padding: 2px 4px;
            right: -11px;
        }

            .header-icon .counter.two-counter .number {
                height: 12px;
            }

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

    .w-nav-button:hover {
        opacity: 0.7;
    }

.menu-button {
    margin-left: 24px;
    padding: 0px;
}

@media (max-width: 991px) {
    .menu-button {
        margin-left: 24px;
    }
}

@media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-button {
        display: block;
    }
}

.menu-icon {
    position: relative;
    display: inline-block;
}

.w--nav-menu-open {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #C8C8C8;
    text-align: center;
    overflow: visible;
    min-width: 200px;
}

.w--nav-link-open {
    display: block;
    position: relative;
}

.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

    .w-nav-overlay .w--nav-menu-open {
        top: 0;
    }

.footer {
    position: relative;
    z-index: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f5f6f7;
}

.footer-container {
    display: block;
    width: 100%;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 50px;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .footer-container {
        padding-right: 30px;
        padding-left: 30px;
    } 
}

.footer-grid {
    grid-template-columns: 3fr 1fr 1fr 0.8fr;
    grid-template-rows: auto;
}

@media screen and (max-width: 991px) { 
    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr 0.8fr;
    }
}

.footer-logo-block {
    position: relative;
    display: flex;
    max-width: 650px;
    flex-direction: column;
    align-items: flex-start;
}

    .footer-logo-block .footer-logo {
        margin-bottom: 20px;
    }

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.paragraph-small {
    margin-bottom: 6px;
    opacity: 0.75;
    font-size: 14px;
    line-height: 1.4em;
}

.spacer._16 {
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    background-color: transparent;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
}

    .footer-links-container .footer-header {
        color: #99a4af;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }

    .footer-links-container h5 {
        margin-top: 0px;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .footer-links-container .footer-link.w--current {
        opacity: 1;
    }

    .footer-links-container .footer-link {
        display: block;
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: color 200ms ease-in-out;
        color: #626a72;
        font-size: 15px;
        text-decoration: none;
        cursor: pointer;
    }

    .footer-links-container .footer-link:hover {
        opacity: 1;
        color: #1d1d1d;
    }

    .footer-links-container a {
        background-color: transparent;
    }

@media screen and (max-width: 991px) {
    .footer-links-container {
        display: flex;
        align-items: flex-start;
    }
}

.intro-header {
    display: flex;
    height: 655px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    background-image: radial-gradient(circle farthest-corner at 0% 50%, rgba(255, 1, 1, 0.15), transparent 47%), radial-gradient(circle farthest-corner at 40% 130%, rgba(122, 167, 255, 0.41), transparent 58%);
    /*background-color: #f4f4f4;*/
    /*background-image: url(https://assets.website-files.com/5c6eefa…/5cdc39f…_placeholder%201%20-%20wide.svg);*/
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
}

.intro-content {
    width: 70%;
    max-width: 1140px;
    margin-bottom: 20px;
    text-align: center;
}

.intro-text {
    width: 80%;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
}

@media screen and (max-wifth: 991px) {
    .intro-text {
        width: auto;
    }
}

.featured-products-section {
    margin-bottom: 100px;
}

.main-heading-wrap {
    margin-top: 100px;
    margin-bottom: 60px;
}

    .main-heading-wrap h1 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 44px;
        line-height: 62px;
        font-weight: 400;
    }

.header-jumbo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
    text-transform: none;
}

@media screen and (max-width: 991px) {
    .heading-jumbo {
        font-size: 56px;
        line-height: 70px;
    }
}

.paragraph-header {
    margin-bottom: 10px;
    opacity: 1;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

    .paragraph-header.opacity-light {
        opacity: 0.6;
    }

.paragraph-light {
    opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
}

.paragraph-tiny {
    font-size: 12px;
    line-height: 20px;
}

    .paragraph-tiny.opacity-light {
        opacity: 0.7;
    }

.divider {
    height: 1px;
    background-color: #eee;
}

    .divider.dark-divider {
        height: 1px;
        background-color: #202020;
    }

.ui.divider {
    background-color: transparent;
}

.main-paragraph-wrap {
    margin-top: 60px;
    margin-bottom: 150px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-areas: ". .";
    grid-template-rows: auto;
}

.products-header {
    margin-bottom: 80px;
    text-align: center;
}

    .products-header h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 46px;
        font-weight: 400;
    }

.subscribe-section {
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    /*background-color: #f4f4f4;*/
    background-color: #1d1d1d;
    background-image: radial-gradient(circle farthest-corner at 0% 50%, rgba(255, 1, 1, 0.15), transparent 47%), radial-gradient(circle farthest-corner at 40% 130%, rgba(122, 167, 255, 0.41), transparent 58%);
    color: #fff;
}

    .subscribe-section .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .subscribe-section .content-container .ui.input {
            margin-top: 20px;
        }

.subscribe-header {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    text-transform: none;
}

.subscribe-paragraph {
    width: 40%;
    font-size: 16px;
    line-height: 1.5em;
}

@media screen and (max-width: 991px) {
    .subscribe-paragraph {
        width: 60%;
        font-size: 16px;
        line-height: 1.5em;
    }
}

.section {
    margin-right: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 991px) {
    .section {
        margin-right: 0;
        margin-left: 0;
    }
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

    .container.header-wrap {
        margin-top: 60px;
        margin-bottom: 80px;
        text-align: center;
    }

    .container h1 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 44px;
        line-height: 62px;
        font-weight: 400;
    }

@media screen and (max-width: 991px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.contacts-section {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

    .contacts-section h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
    }

@media screen and (max-width: 991px) {
    .number-contact-wrap {
        margin-bottom: 20px;
    }
}

.paragraph-contact-text {
    margin-bottom: 10px;
}

.map-section {
    margin-bottom: 100px;
    text-align: center;
}

    .map-section h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
    }

.get-in-touch-section {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.cart-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.cart-line {
    display: flex;
}

    .cart-line .right-part {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 15px;
    }

.cart-line-qty {
    width: 75px;
}

.next-link {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.next-btn {
    width: 90%;
}

/*.hidden {
    display: none;
}*/

.product-card-footer span {
    font-size: 12pt;
}

.w-widget {
    position: relative;
}

.w-widget-map {
    width: 100%;
    height: 400px;
}

.map {
    height: 480px;
    line-height: 20px;
}

.product-details-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 65px;
}

@media screen and (max-width: 991px) {
    .product-details-section {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 65px;
    }
}

.product-image {
    display: flex;
    width: 50%;
    height: 620px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    /*background-color: #f4f4f4;*/
    /*background-image: url(/resources/productsImages/asus-laptop-g513-r7-16gb-1tb-3070-no-os,117928751377_3.jpg);*/
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
    .product-image {
        width: 100%;
        margin-bottom: 40px;
    }
}

.product-details-wrap {
    width: 50%;
    max-width: 470px;
    margin-bottom: 20px;
    margin-left: 100px;
}

@media screen and (max-width: 991px) {
    .product-details-wrap {
        width: 100%;
        margin-right: auto;
        margin-bottom: 80px;
        margin-left: auto;
        text-align: center;
    }
}

.product-details-header {
    margin-bottom: 30px;
}

.product-details-name {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 52px;
}

.product-details-price {
    margin-bottom: 20px;
    opacity: 0.6;
    font-size: 30px;
    line-height: 52px;
}

.product-specs {
    margin-top: 25px;
    margin-bottom: 25px;
}

.list-item {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.product-detail-measurement {
    display: flex;
    align-items: center;
}

.product-detail-unit-text {
    margin-left: 6px;
}

    .product-detail-unit-text.middle-text {
        margin-right: 6px;
    }

.add-to-cart {
    margin-top: 30px;
}

.add-to-cart-form {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.quantity-field-label {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-detail-cta-wrap {
    display: flex;
    margin-top: 0px;
}

@media screen and (max-width: 991px) {
    .product-detail-cta-wrap {
        flex-direction: column;
        justify-content: center;
    }
}

.quantity-field {
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
    .quantity-field {
        width: auto;
        margin-right: 0px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.description-section {
    margin-bottom: 50px;
}

.why-company-section {
    margin-bottom: 100px;
}

    .why-company-section .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .why-company-section h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
    }

.about-paragraph {
    width: 50%;
    font-size: 16px;
    line-height: 1.5em;
}

@media screen and (max-width: 991px) {
    .about-paragraph {
        width: 60%;
        font-size: 16px;
        line-height: 1.5em;
    }
}

.about-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
}

    .about-section h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
    }

@media screen and (max-width: 991px) {
    .about-section {
        flex-wrap: wrap;
    }
}

.about-wrap {
    width: 22%;
}

@media screen and (max-width: 767px) {
    .about-wrap {
        display: flex;
        width: 100%;
        margin-bottom: 45px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.about-card-section {
    margin-bottom: 100px;
}

.about-card-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

    .about-card-wrapper .about-card-left {
        position: absolute;
        left: 0%;
        top: 5%;
        right: auto;
        bottom: 0%;
        width: 45%;
        height: 90%;
        border-radius: 5px;
        background-image: url('https://wallpapercave.com/wp/wp9467874.jpg');
        background-position: 50% 100%;
        background-size: cover;
    }

    .about-card-wrapper .about-card-right {
        width: 70%;
        padding: 90px 55px 90px 245px;
        border-radius: 5px;
        background-color: #222;
        color: #f9f9f9;
    }

        .about-card-wrapper .about-card-right h2 {
            margin-bottom: 15px;
            font-size: 36px;
            line-height: 50px;
            font-weight: 600;
        }

@media screen and (max-width: 991px) {
    .about-card-wrapper {
        flex-direction: column;
    }

        .about-card-wrapper .about-card-left {
            position: static;
            width: 100%;
            height: 400px;
            border-radius: 0px;
        }

        .about-card-wrapper .about-card-right {
            width: 100%;
            padding-right: 45px;
            padding-left: 45px;
            border-radius: 0px;
        }
}

.section.need-help {
    margin-right: 0;
    margin-left: 0;
    background-color: #1d1d1d;
    background-image: radial-gradient(circle farthest-corner at 0% 50%, rgba(255, 1, 1, 0.15), transparent 47%), radial-gradient(circle farthest-corner at 40% 130%, rgba(122, 167, 255, 0.41), transparent 58%);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.need-help-section {
    display: flex;
    min-height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    .need-help-section h1 {
        color: #f9f9f9;
        font-size: 62px;
        line-height: 1.2;
        font-weight: 600;
    }

.need-help-paragraph {
    width: 35%;
    margin-bottom: 25px;
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .need-help-paragraph {
        width: 55%;
    }
}

.description-section {
    margin-bottom: 65px;
}

    .description-section .ui.header {
        font-size: 22px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
    }

.full-specs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

    .full-specs-section .ui.header {
        font-size: 22px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
    }

    .full-specs-section .ui.table {
        width: 95%;
    }

.decription-paragraph {
    width: 95%;
    margin-left: 25px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
}

.products-page-container {
    margin-top: 30px;
}