@model OnlineStore.Domain.Category

@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Category</h1>

@using (Html.BeginForm("CreateCategory", "Admin", FormMethod.Post, new { @class = "ui form" }))
{
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" placeholder="Name">
    </div>
    <div class="field">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="3" placeholder="Description"></textarea>
    </div>
    <button class="ui button" type="submit">Create</button>
}

@*<form asp-action="/Admin/CreateCategory" class="ui form">
</form>*@

