@using OnlineStore.Domain;
@model OnlineStore.Models.SubCategoryViewModel

@{
    ViewData["Title"] = "Edit Subcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Subcategory</h1>

@using (Html.BeginForm("EditSubCategory", "Admin", FormMethod.Post, new { @class = "ui form" }))
{
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" placeholder="Name">
    </div>
    <div class="field">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId"
                asp-items="@Model.AvailableCategories"
                class="ui dropdown">
            <option value="">Select a category</option>
        </select>
    </div>
    <button class="ui button" type="submit">Save changes</button>
}

