
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="all-events">
    <div class="container">
        <div class="wrapper">
            <div class="events-head">
                <div class="breadcrumb">
                    <ul class="flexitem">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Events</li>
                    </ul>
                </div>
                <div class="page-title">
                    <h1>Our events and sales</h1>
                </div>
            </div>
            <div class="events main">
                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-3.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-4.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-5.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-6.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-7.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-8.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-9.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-10.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>

                <a class="event-card">
                    <div class="event-head">
                        <img src="/resources/images/event-slide-11.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="event-title">
                            Ullamcorper eget nulla facilisi etiam dignissim diam quis
                        </div>
                        <div class="event-footer">
                            <span>25.08.23</span>
                            <span>-</span>
                            <span>27.08.24</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="load-more flexcenter">
                <a href="/" class="secondary-button">Load more</a>
            </div>
        </div>
    </div>
</section>

<partial name="_Newsletter" />